body {
  background-color: #434656;
}

button {
  padding: 10px 30px;
  border-radius: 3px;
  background-color: #00BBFF;
  color: #FFFFFF;
  font-size: 1em;
  border:none;
  margin: 0px 5px;
}

button:active {
  box-shadow: inset 0px 0px 5px #333333;
}

button:hover {
  background-color: #22CCFF;
}

button > .button-icon {
  display: none;
}

@media (max-width: 690px) {
  button {
    padding: 8px 5px;
    font-size: 0.6em;
  }

  button > .button-text {
    display: none;
  }

  button > .button-icon {
    display: inline;
  }

  body {
    font-size: 14px;
  }
}

.hiddenInput {
  display: none;
}

.drawingArea {
  max-width: 75vw;
  max-height: 75vh;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}

.canvas {
  box-shadow: 0px 0px 10px #000000;
}

.hiddenImg {
  visibility: hidden;
}

.preview {
  text-align:center;
  margin:auto;
  padding-top: 8px;
}


input[type=range] {
  -webkit-appearance: none;
  border: none;
  background-color: inherit;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 2px;
  cursor: pointer;
  background: #c5c3c3;
  transform: translateY(-250%);
  border: none;
}

input[type=range]::-webkit-slider-thumb {
  border: 3px solid #9a9898;
  -webkit-appearance: none;
  background: #DDDDDD;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: -7%;
}

input[type=range]::-moz-range-track {
  height: 2px;
  cursor: pointer;
  background: #c5c3c3;
  border: none;
}
input[type=range]::-moz-range-thumb {
  border: 3px solid #9a9898;
  background: #DDDDDD;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  margin-top: -7%;
  cursor: pointer;
}
