.menu-item {
  display: inline-block;
  margin: 0em 2em;
  cursor: pointer;
  color: #FFFFFF;
}

.menu-item-active {
  color: #11FFFF;
}

.menu-item-disabled {
  color: #888888;
  cursor: default;;
}

.menu-item-icon {
  display: block;
}

@media (max-width: 690px) {
  .menu-item {
    margin: 0em 1em;
  }
}
