.popover {
  position: absolute;
  border-radius: 3px;
  padding: 0.5em;
  color: #7B7B7B;
  background-color: #EEEEEE;
  top: 35px;
  font-size: 0.7em;
  opacity: 0;
  transition: all 0.3s;
  box-shadow: 1px 1px 6px #000000;
  z-index: 0;
}

.popover:before {
  position: absolute;
  content: '';
  right: 80%;
  top: -8px;
  border-style: solid;
  border-width: 0 10px 10px 10px;
  border-color: transparent transparent #EEEEEE transparent;
}

.popover-active {
  opacity: 1;
  z-index: 1;
}

.popover input {
  margin-left: 5px;
}

.popover input[type='number'] {
  padding: 3px;
  border-radius: 3px;
  border: 1px solid #dad8d8;
}

.popover-form > div {
  display: flex;
  align-items: flex-end;
  margin-bottom: 5px;
}

.popover-form-label {
  flex-basis: 3em;
  text-align: right;
}

.popover button {
  padding: 2px 30px;
}

@media (max-width: 690px) {
  .popover button {
    padding: 5px 30px;
  }
}
