.toolbar {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
  margin-top: 3px;
  text-align: center;
  background-color: #333642;
}

.toolbar-item {
  color: #FFFFFF;
  font-size: 1.5em;
  margin: 0em 1em;
  display: inline-block;
  position: relative;
}

a {
  color: #FFFFFF;
  text-decoration: none;
}

.numberViewer {
  width: 2em;
}

@media (max-width: 690px) {
  .toolbar-item>a{
    font-size: 0.8em;
  }
}
